//
//
//Copyright 2016 Viewpoint, Inc.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.
//



uib-tabset.tab-animation



    uib-tab(heading='Parameters', active='tabs[0].active')

        div.row.reportRow
            div.col-md-4.reportLeft
                p(ng-if='isLoggedIn')
                    button.btn.btn-lg(ng-click='saveConfig()') Save Report
                p.alert.alert-info(ng-if='!isLoggedIn')
                    a(href='#/users/login') Login
                    | &nbsp; to save and share reports.
            div.col-md-4.reportMiddle
                button.btn.btn-lg(ng-click='loadConfig()') Load Report

            div.col-md-4.reportRight
                p
                    button.btn.btn-lg(ng-click='runReport(); tabs[1].active=true;') Run Report

        p.reportTitle(ng-if='savedReport != null && savedReport.name != null') {{savedReport.name}}


        h1 Classes of Service

        table.kanbanParams
            thead
                tr
                    td
                    td Name
                    td Earliest Available Date
                    td Latest Available Date
                    td Report From
                    td Report To
            tbody
                tr(ng-repeat='classOfService in params.reportableClasses')
                    td
                        input(type='checkbox', ng-model='classOfService.selected', ng-change="changeClassSelection($index, '{{classOfService.selected}}')")
                    td {{classOfService.className}}
                    td {{classOfService.minDisplayDate}}
                    td {{classOfService.maxDisplayDate}}
                    td
                        input(type='date', ng-model='classOfService.minReportDate', ng-min='classOfService.minDate')
                    td
                        input(type='date', ng-model='classOfService.maxReportDate', ng-max='classOfService.maxDate')




        h1(ng-if='params.columnSelections.length > 0') Kanban Board Columns

        div.row
            div.col-md-4(ng-repeat='classOfService in params.columnSelections')
                h3 {{classOfService.className}}
                button(ng-click='selectAllColumns($index)') All
                | &nbsp;
                button(ng-click='selectNoneColumns($index)') None
                table.kanbanParams
                    tr(ng-repeat='column in classOfService.possibleColumnNames')
                        td
                            input(type='checkbox', checklist-model='classOfService.selectedColumnNames', checklist-value='column')
                        td {{column}}






    uib-tab(heading='WIP', disable='!enableReport', active='tabs[1].active')
        div(ng-repeat='classOfService in reports.wipCharts')
            h1 WIP for {{classOfService.className}}
            c3-simple(ng-if='enableReport', id="{{'wipCharts_' + $index}}", config='classOfService.chartConfig', chartId="{{'wipCharts_' + $index}}")

    uib-tab(heading='Cycle Time', disable='!enableReport', active='tabs[2].active', deselect='gridStatus.active = !gridStatus.active', select='gridStatus.active = !gridStatus.active')
        h1 Cycle Times

        table.kanbanReport.table-bordered
            thead
                tr
                    td Class Of Service
                    td Median
                    td Average
                    td 80th Percentile
                    td 90th Percentile
                    td Count
                    td Items Closed During
            tbody
                tr(ng-repeat='classOfService in reports.cycleTimes')
                    td {{classOfService.className}}
                    td {{classOfService.median}}
                    td {{classOfService.average}}
                    td {{classOfService.perc80}}
                    td {{classOfService.perc90}}
                    td {{classOfService.count}}
                    td {{classOfService.dateRange}}

        h2 Cycle Time Histogram
        c3-simple(ng-if='enableReport', id='ctHisto', chartid='ctHisto', config='reports.ctHistoConfig')

        h2 Individual Items
        p
            button.btn.btn-lg(ng-csv='reports.cycleTimeGrid.data', lazy-load='true', filename='cycletimes.csv', field-separator=',', csv-header="['Class of Service', 'Item ID', 'Cycle Time']") Export to CSV
        div.grid(ng-if='gridStatus.active', id='grid1', ui-grid='reports.cycleTimeGrid')

    uib-tab(heading='Bottlenecks', disable='!enableReport', active='tabs[3].active')
        div(ng-repeat='classOfService in reports.bottlenecks' ng-init="chartId = 'chartBottlenecks_' + $index")
            h1 Bottlenecks for {{classOfService.className}}
            c3-simple(ng-if='enableReport', id="{{'chartBottlenecks_' + $index}}", config='classOfService.chart', chartid="{{'chartBottlenecks_' + $index}}" )
            //table.kanbanReport.table-bordered
            //  thead
            //    tr
            //      td Column
            //      td Item-Days
            //  tbody
            //    tr(ng-repeat='column in classOfService.columns')
            //      td {{column.columnName}}
            //      td {{column.itemDays}}


    uib-tab(heading='Throughput', disable='!enableReport', active='tabs[4].active')
        h1 Throughput
        c3-simple(ng-if='enableReport', id='throughputChart', chartid='throughputChart', config='reports.throughputConfig')
        //div(ng-repeat='classOfService in reports.throughputSummaries')
        //  h2 {{classOfService.className}}
        //  table.kanbanReport.table-bordered
        //    thead
        //      tr
        //        td Week Of
        //        td Throughput
        //    tbody
        //      tr(ng-repeat='week in classOfService.throughputKeys')
        //        td {{week}}
        //        td {{classOfService.throughputValues[$index]}}
